body, html {
  margin: 0;
}

body {
  font-family: Lato, Tahoma, Helvetica, sans-serif;
  font-size: 16px;
}

header, footer {
  background: #2980B9;
  color: white;
  padding: 10px;
  text-align: center;
}

footer {
  font-size: .75em;
}

main {
  display: flex;
  justify-content: center;
}

#viz-container {
  min-width: 700px;
  min-height: 700px;
  vertical-align: bottom;
}

#filter-container {
  min-height: 700px;
  min-width: 400px;
  margin-right: 10px;
  position: relative;
}

.slider-container {
  display: inline-block;
}

#slider-b {
  /*margin-left: 50px;*/
  position: absolute;
  left: 200px;
}

.filter-panel {
  padding-bottom: 20px;
}

.filter-multi h4 {
  display: inline-block;
  margin-right: 10px;
}

.filter-multi a {
  vertical-align: text-bottom;
  color: #2980B9;
  text-decoration: none;
  font-size: .8em;
  cursor: pointer;
}

.filter-multi a:hover {
  text-decoration: underline;
}

/* override multi-select library */
.ms-list {
  max-height: 100px;
}

.slider {
  /*margin-left: 10px;*/
  margin-right: 30px;
}

.button {
  font-size: .7em;
  display: inline-block;
  padding: 2px 10px;
  background: #2980B9;
  background: #888888;
  color: white;
  text-align: center;
  box-shadow: 0px 3px 2px #888888;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  position: relative;
  box-shadow: 0px 1px 2px #888888;
  top: 2px;
}

/* Visualization styling */
.circle {
  fill: transparent;
  stroke: #4682B4;
  stroke-width: 1px;
}

.circle:hover {
  /*fill: #B0C4DE;*/
  fill: #4682B4;
}

.radius {
  fill: rgba(176, 196, 222, .5);
  /*stroke: #4682B4;*/
  /*stroke-width: 1.5px;*/
}

.pin-group {
  cursor: move;
}

.tooltip { 
  position: absolute;     
  /*width: 60px;          */
  /*height: 28px;         */
  font-size: .75em;
  padding: 10px;       
  background: rgba(176, 196, 222, 1); 
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;  
}

.tooltip > h1 {
  font-size: 1em;
  margin: 0;
}