body, html {
  height: 100%;
  margin: 0;
}

body {
  font-family: Lato, Tahoma, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
}

.header {
  background: #2980B9;
  color: white;
  padding: 10px;
}

.header > h1, .header > h4 {
  margin: 0;
}

.header > h4 {
  font-weight: normal;
}

#viz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.circle {
  fill: lightsteelblue;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.circle--drag {
  fill: red;
  stroke: brown;
}